.topic{display: block; width: 100%; background-color:rgb(155, 240, 240);}
body{background-color: #CCFFFF;}
h1{color: #000000; text-align: center; background-color: aqua; padding-right: 50px; }
.catphotos p{display: inline-block; width: 30%;} img{ width: 150px; height: 150px; display: inline-block; width: }